.centro{
    align-items: center;
    display: flex;
    top: 50%;
    left: 50%;
    margin-left: 750px;
    margin-top: 350px;
}

.botonEj2{
    height: 75px;
    width: 130px;
    background-color: crimson;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    left: 14px;
    margin-left: 125px;
}

.botonEj2:hover{
    background-color: rgb(247, 62, 99);
}